;===========================================================
; Конфиг клавиш SPlayer 1.0.1.2
; С кнопками, надеюсь, все должно быть понятно. С функциями:
; none - Ничего не делает
; mainmenu - Вызов главного меню
; exit - Выход из эльфа
; loaddefpl - Загрузить дефолтный плейлист
; playtrack - Проиграть файл под курсором
; goup, godown - Вверх, вниз
; go6up, go6down - Листание на 6 позиций
; prevpl, nextpl - Навигация между плейлистами
; volup, voldown - Регулироква громкости
; stopall - Стоп
; togglepb - Пауза/Воспроизведение
; togglevolume - Откл/Вкл звук
; switchmode - Переключение режима воспроизведения
; fm-вызов файлового менеджера,
; nextplayed-постановка в очередь на воспроизведение,
; cleanpl-очистить пл
; rewindtoend, rewindtobegin - перемотка
; savepl - сохранить плейлист
; Когда все станет понятно, комменты убрать,
; с ними не работает!
;===========================================================
lsoft=mainmenu
rsoft=exit
green=loaddefpl
red=exit
enter=playtrack
up=goup
down=godown
left=prevpl
right=nextpl
volup=volup
voldown=voldown
0=stopall
1=rewindtobegin
2=go6up
3=rewindtoend
4=prevtrack
5=togglepb
6=nexttrack
7=cleanpl
8=go6down
9=fm
*=togglevolume
#=switchmode
lsoft_lp=mainmenu
rsoft_lp=exit
green_lp=loaddefpl
red_lp=exit
enter_lp=playtrack
up_lp=goup
down_lp=godown
left_lp=prevpl
right_lp=nextpl
volup_lp=volup
voldown_lp=voldown
0_lp=stopall
1_lp=rewindtobegin
2_lp=go6up
3_lp=rewindtoend
4_lp=rewindtobegin
5_lp=togglepb
6_lp=rewindtoend
7_lp=cleanpl
8_lp=go6down
9_lp=fm
*_lp=togglevolume
#_lp=switchmode