PylesosBMP BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\pylesos.bmp"
DivanBMP BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\divan.bmp"
ShkafBMP BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\shkaf.bmp"
StolBMP BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\stol.bmp"
StulBMP BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\stul.bmp"