PylesosBMP0 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\pylesos_0.bmp"
PylesosBMP1 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\pylesos_1.bmp"
PylesosBMP2 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\pylesos_2.bmp"
PylesosBMP3 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\pylesos_3.bmp"
DivanBMP0 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\divan_0.bmp"
DivanBMP1 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\divan_1.bmp"
DivanBMP2 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\divan_2.bmp"
DivanBMP3 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\divan_3.bmp"
ShkafBMP0 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\shkaf_0.bmp"
ShkafBMP1 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\shkaf_1.bmp"
ShkafBMP2 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\shkaf_2.bmp"
ShkafBMP3 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\shkaf_3.bmp"
StolBMP0 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\stol_0.bmp"
StolBMP1 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\stol_1.bmp"
StolBMP2 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\stol_2.bmp"
StolBMP3 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\stol_3.bmp"
StulBMP0 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\stul_0.bmp"
StulBMP1 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\stul_1.bmp"
StulBMP2 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\stul_2.bmp"
StulBMP3 BITMAP "C:\Program Files\Borland\Delphi7\Projects\Pylesos\stul_3.bmp"